.row1,.row2,.row3  {
  display: inline-block;
  margin: auto;


}
#container {
  position: fixed;
  left: 40%;
  top:20%;
  text-align: center;


}
.topbut button {
  width: 100px;
  height: 100px;
  margin: 5px 5px;
}

.midbut button {
  width: 100px;
  height: 100px;
  margin: 5px 5px;
  font-size: 10px;
}

.bottbut button{
  width: 100px;
  height: 100px;
  margin: 5px 5px;
  font-size: 10px;
  vertical-align: top;
}
#reset button {
  margin-top: 20px;
  font-size: 10px;
  display:inline-block;
}

